header{
	background-color: #5b7989;
	color: #FFF;
	display: flex;
	border-radius: 10px 10px 0 0;
}

img{
	box-shadow: 2px 2px #02010a;
}

#img{
	background-color: #82c3a6;
	display: flex;
	justify-content: center;
	align-items: center;
}

#img img{
	width: 90%;
	margin: 10px 0;
}

body{
	background-color: #02010a;
	display: flex;
	justify-content: center;
}

@font-face {
	font-family: "Dancing Script";
	src: url(../letra/DancingScript-Regular.ttf) format("truetype");
}

li{	
	list-style: none;
}
li a{
	color: #FFF;
}
p{
	font-weight: bold;
}
ul{
	display: flex;
}

}
.Inicio{
	text-decoration: none;
}
header h1{
	text-shadow: 2px 2px #02010a;
	text-align: center;
}
footer{
	background: #C6d5c5;
	border-radius: 0 0 10px 10px;
}

#segundo img{
	box-shadow: #82c3a6;
	max-width: 100%;
}

.blur{
	-webkit-filter: blur(10px);
}
.gris{
	-webkit-filter: grayscale(100%);
}
.sepia{
	-webkit-filter: sepia(90%);
}

.spam a{
	display: flex;
}
#contenido{
	animation: animationContenido 1s;
}
@-webkit-keyframes animationContenido{
	0%{
		margin-top: 150%;
	}60%{
		margin-top: -5%;
	}100%{
		margin-top: 0;
	}
}
@-webkit-keyframes animantionShadow{
	from{
		box-shadow: 2px 2px #02010a;
	}to{
		box-shadow:  2px 2px #82c3a6;
	}
}
.rotate{
	transform: rotateZ(none);
	transition: rotatez, 1s;
}
.rotate:hover{
	transform: rotateZ(10deg);
	animation: animantionShadow 1s;
	animation-fill-mode: forwards;
}
.translate{
	transform: translate(0, 0);
	transition: traslate, 1s;
}
.translate:hover{
	transform:  translate(20px, -5px);
	animation: animantionShadow 1s;
	animation-fill-mode: forwards;
}

.spam a{
	margin: 10px;
	justify-content: center;
	align-items: center;
}
#galeria div div img{
	width: 100%;
}

*{
	font-family: "Dancing Script";
	margin: 0;
	padding: 0;
}

@media screen and (min-width:900px){
	#contenido{
		max-width: 900px;
	}
	header{
		justify-content: space-between;
		padding: 10px;
	}
	div{
		padding: 10px;
	}
	li{
		margin: 0 10px;
	}
	footer{
		display:flex;
		border-radius: 0 0 10px 10px
	}
	footer div{
		flex-basis: 0;
		flex-grow: 1;
		padding: 20px;
	}
	#segundo img{
		box-shadow: #82c3a6;
		max-width: 100%;
	}
	nav{
		perspective-origin: right;
		margin: auto 0;
	}
	.grafica{
		flex-basis: 0;
		flex-grow: 1;
		margin: 0;
	}
	#galeria{
		display: flex;
		flex-direction: column;
		background-color: #d5c75f;
	}
	#galeria div{
			display: flex;
			align-items: center;
			justify-content: space-around;
			padding: 0;
	}
	#galeria div div{
		margin: 20px;
	}
	
	#segundo{
		display: flex;
		justify-content: space-around;
		background-color: #d5c75f;
		border: solid 1px;
	}
}

 @media screen and (max-width:899px){
	#contenido{
		width: 100%;
	}
	header{
		width: 100%;
		flex-direction: column;
		align-items: center;
	}
	li{
		margin: 10px;
	}
	#img{
		padding: 10px;
	}
	spam{
		margin: 10px 10px 0 10px;
	}
	#segundo{
		display: flex;
		flex-direction: column;
		background-color: #d5c75f;
		border: solid 1px;
		padding-bottom: 10px;
	}
	header{
		padding-top: 10px;
	}
	footer div{
		margin: 10px;
	}
	footer{
		display: flex;
		flex-direction: column;
	}
	#galeria{
		display: flex;
		flex-direction: column;
		background-color: #d5c75f;
	}
	#galeria div{
		display: flex;
		flex-direction: column;
	}
	#galeria div div{
		padding: 0px;
		margin: 10px;
	}
}
     #facebook img{
       height: 20px;
       width: 20px 
 }